<!DOCTYPE html>
<html lang="zh-cmn-Hans">
  <head>
    {{> head}}
    <link rel="shortcut icon" href="static/favicon.ico" />
    <link rel="stylesheet" href="static/blog.css">
  </head>
  <body>    
    <h1>27前端博客</h1>
    {{{ content }}}  
  </body>  
</html>