<!DOCTYPE html>
<html lang="zh-cmn-Hans">
  <head>
    {{> head}}
    <link rel="shortcut icon" href="../static/favicon.ico" />
    <link rel="stylesheet" href="../static/blog.css">
  </head>
  <body>
    <h1><a href="../index.html">27前端博客</a></h1>
    <h2>{{ _page.title }} </h2>
    {{{ content }}} 
  </body>  
</html>