<h2>网站基础七步曲</h2>
<ol class="blog-list">
	<li>
		<a href="p/reset.html" title="reset">【第一步】CSS Reset</a>
	</li>
	<li>
		<a href="p/base.html" title="base">【第二步】CSS Base</a>
	</li>
	<li>
		<a href="p/global.html" title="">【第三步】CSS Global</a>
	</li>
	<li>
		<a href="#" title="">【第四步】构建中...</a>
	</li>
	<li>
		<a href="#" title="">【第五步】构建中...</a>
	</li>
	<li>
		<a href="#" title="">【第六步】构建中...</a>
	</li>
	<li>
		<a href="#" title="">【第七步】构建中...</a>
	</li>
</ol>
<h2>小插曲</h2>
<ol class="blog-list">
	<li>
		<a href="p/font-face.html" title="Font face">Font Face</a>
	</li>
</ol>
<h3>我的其他工具</h3>
<ol class="blog-list">
	<li>
		<a href="http://www.ziven27.com/cssAngle" target="_blank" title="纯css画三角形">纯css画三角形</a>
	</li>
</ol>