<ol class="blog-list">
	<li>
		<a href="p/css-reset.html" title="CSS Reset">CSS Reset</a>
	</li>
<!--<li>
		<a href="blog/css-sprite.html" title="CSS Sprite">CSS Sprite</a>
	</li> -->
	<li>
		<a href="p/font-face.html" title="Font face">Font Face</a>
	</li>
</ol>
<h2>我的其他工具</h2>
<ol class="blog-list">
	<li>
		<a href="http://www.ziven27.com/cssAngle" target="_blank" title="纯css画三角形">纯css画三角形</a>
	</li>
</ol>