html, button, input, select, textarea, pre, code { font: caption; font-size: 14px; }
html{ line-height: 1.8; }
a { color: #337ab7; text-decoration: none; }
a:focus, a:hover { color: #23527c; text-decoration: underline; }
body { width: 92%; margin: 0 auto; max-width: 960px; overflow-x: hidden; }
pre { word-break: break-all; word-wrap: break-word; }
img{ max-width: 100%; height: auto; }