<p><img src="{{ static }}/p/hmx/thumb.jpg" width="220" height="220" alt="相框"></p>
<p>没有什么比相框更能解释盒模型了</p>
<style>
	.frames{ overflow:hidden; border:1px solid #ddd; list-style:none; padding: 0; width: 50%; margin: 0 auto; font-size: 0; }
	.frames li{ float: left; display: inline; padding: 20px; border: 20px solid; border-color: red yellow blue pink; margin: 10px; }
	.frames li div{ height: 100px; width: 100px; background-color: #ddd;  }
</style>
<ul class="frames">
	<li><div></div></li>
	<li><div></div></li>
	<li><div></div></li>
</ul>